html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.8px;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    color: #F9FAF8;
}

nav {
    height: 100px;
    background-color: #003844;
    font-size: 24px;
    color: #F9FAF8;
}

nav a {
    color: #CAD8DE;
    text-decoration: none;
    font-size: 18px;
}

nav .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #E38E0F;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0;
    padding: 8px 25px;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    font-weight: 900;
}

footer {
    background-color: #003844;
    color: #CAD8DE;
    height: 100px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 2px 0;
}

footer a {
    color: #CAD8DE;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.navigation li {
    display: inline;
    margin: 0 10px;
}

#hero {
    background-color: #003844;
    font-size: 18px;
    height: 400px;
    width: 100%;
    flex-direction: row;
}

#hero .container {
    height: 100%;
    justify-content: space-between;
}

#hero .hero-description {
    width: 450px;
    height: 200px;
    color: #CAD8DE;
    padding-top: 50px;
}

#hero p {
    margin: 10px 0;
    line-height: 25px;
}

#hero img {
    margin-top: 25px;
    width: 550px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #F9FAF8;
}

#genres {
    height: 500px;
    padding: 10px 250px;
}

#genres .container {
    flex-direction: column;
}

#genres h3 {
    font-size: 36px;
    color: #003844;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

#genres figcaption {
    text-align: center;
    color: #003844;
    margin: 5px;
    font-weight: 900;
    font-size: 16px;
}

#genres .genre-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

#genres .genre-image {
    width: 200px;
    border-radius: 10px;
    border: 4px solid #CAD8DE;
}

#quote {
    height: 400px;
    background-color: #CAD8DE;
}

#quote .container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

#quote figure {
    padding: 0 75px;
}

#quote blockquote {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    color: #003844;
    margin-bottom: 3px;
}

#quote figcaption {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    color: #003844;
}

#call-to-action {
    height: 300px;
}

#call-to-action .container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

#call-to-action h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

#call-to-action .cta-banner {
    width: 100%;
    height: 125px;
    color: #F9FAF8;
    background-color: #E38E0F;
    font-size: 18px;
    border-radius: 8px;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}